body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
button{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: none;
    background-color: rgba(173, 173, 173, 0.26);
    color: white;
    font-size: 3em;
    cursor: pointer;
  
}
#botoes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
#calculadora{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
}
#display{
    width: 92%;
    padding: 20px;
    font-size: 4em;
    text-align: right;
    border: none;
    background-color: rgb(56, 55, 55);
    color: white;
}
button:hover{
    background-color: rgb(136, 136, 136);
}
button:active{
    background-color: rgba(173, 173, 173, 0.568);
}
.coluna{
    background-color: orange;
}
.coluna:hover{
    background-color: rgb(248, 174, 37);
}
.coluna:active{
    background-color: rgba(255, 166, 0, 0.747);
}