body{
    background-color:  #3b6d93;
    font: normal 15pt Arial;
}
header{
    color:aliceblue;
    text-align: center;
}
section{
    background-color: rgb(240, 248, 255);
    border-radius: 20px;
    padding: 15px;
    width: 700px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.551);
    height: 600px;
}
footer{
    color: aliceblue;
    font-style: italic;
    font-size: large;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    }
select{
    display: inline-block;
    margin-right: 10px;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    
}
#segunda{
    width: 130px;
    
}   
.input-container {
    position: relative;
    display: inline-block;
}
.input-container .label {
    position: absolute;
    top: -20px; 
    font-size: 10px;
    color: rgb(0, 0, 0);
    padding: 0 1px;
    line-height: 25px;
    left: 25px
}
#terceira{
    width: 130px;
}
.input-container2 {
    position: relative;
    display: inline-block;
}
.input-container2 .label2 {
    position: absolute;
    top: -20px; 
    font-size: 10px;
    color: rgb(0, 0, 0);
    padding: 0 1px;
    line-height: 25px;
    left: 20px;
}
#adicionar{
    cursor: pointer;
}